<h1><%= @puntuacion; %> </h1>
<form method=post action='/1'>
<input type='submit' value='Jugador1'>

</form>


<form method=post action='/2'>
<input type='submit' value='Jugador2'>

</form>
